# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
.venv/
venv/
env/
ENV/

# Environment variables
.env
.env.*
*.env

# Django / local database
app/db.sqlite3              # Закомментировать чтобы не игнорировать базу данных, если она используется для разработки
app/db.sqlite3-journal      # Закомментировать чтобы не игнорировать базу данных, если она используется для разработки
*.sqlite3                   # Закомментировать чтобы не игнорировать базу данных, если она используется для разработки
*.sqlite3-journal           # Закомментировать чтобы не игнорировать базу данных, если она используется для разработки
app/library_project/local_settings.py

# Static build output
app/staticfiles/

# User uploaded media
app/media/*
!app/media/.gitkeep
!app/media/covers/
app/media/covers/*
!app/media/covers/.gitkeep

# Logs
*.log

# VS Code
.vscode/*
!.vscode/tasks.json

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# LaTeX auxiliary files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.xdv
*.nav
*.snm
*.vrb

# Temporary files
*.tmp
*.bak
*.swp
*.swo